<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Badge</title>
    <link rel="stylesheet" href="/css/badges.css">
    <script type="module" src="/scripts/edit_badges.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <h1>Edit Badge</h1>
    <form action="/admin/badges/edit/<%= badge.name %>" method="POST">
        <section id="badge-name">
            <article class="badge-name">
                <label for="edit-badge-name">Badge Name:</label>
                <input type="text" id="edit-badge-name" name="name" value="<%= badge.name %>" required>
            </article>
        </section>

        <section id="badge-minbitpoints">
            <label for="edit-badge-minbitpoints">Minimum Bitpoints:</label>
            <input type="number" id="edit-badge-minbitpoints" name="bitpoints_min" value="<%= badge.bitpoints_min %>" required>
        </section>

        <section id="badge-maxbitpoints">
            <label for="edit-badge-maxbitpoints">Minimum Bitpoints:</label>
            <input type="number" id="edit-badge-maxbitpoints" name="bitpoints_max" value="<%= badge.bitpoints_max %>" required>
        </section>

        <section id="badge-image">
            <article class="badge-image">
                <label for="edit-badge-image">Image URL:</label>
                <input type="text" id="edit-badge-image" name="image_url" value="<%= badge.image_url %>" required>
                <img src="<%= badge.image_url %>" alt="Badge Image" id="badge-image">
            </article>
        </section>

        <button id="update" type="submit" name="action" value="update"><i class="fa-solid fa-arrow-up"></i> Update Badge</button>
        <button id="cancel" type="submit" name="action" value="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>

    </form>
</div>
</body>
</html>